<div class="container">

    <div class="text-center py-3">
        <h1>Expenses Full Report</h1>
        <hr>
        <p>These is a full report on expenses</p>
    </div>

    <!-- Full report -->
    <div class="col-md-8 mx-auto pt-2">

        <div class="expenses mt-2">
        
            <ul *ngFor="let expense of expenses">
                <li class="text-primary bold">{{expense.name | uppercase}}</li>
                <p>{{expense.description}}</p>
                <p>{{expense.totalcost}} </p>
                <p>{{expense.createdAt | date | uppercase}}</p>
            </ul>
        
        </div>

        <!-- Go back to reports button -->
        <button class="btn btn-secondary m-2 btn-rounded" type="button" (click)="backtoreports()"> Back</button>

    </div>

</div>