<div class="container pt-5">

    <div class="text-center">

        <h1>Sales Register</h1>
        <hr>

    </div>

    <!-- Registering a client -->
    <form action="" class="clientdata" [formGroup]="clientdataform" *ngIf="!billingready">

        <!-- Client's name -->
        <div class="form-group">
            <label for="" class="mb-1 my-2">Client's Name</label>
            <input type="text" class="form-control">
        </div>

        <!-- Submit and Bill -->
        <button class="btn btn-primary btn-rounded m-2" type="button" (click)="registerclient()">Start Billing</button>

    </form>

    <!-- Sales form -->
    <form class="salesform" action="" [formGroup]="salesform" *ngIf="billingready">

        <!-- Product name -->
        <div class="form-group">
            <label for="" class="mb-1 my-2">Product | Item Name</label>
            <input type="text" class="form-control">
        </div>

        <!-- Quantity -->
        <div class="form-group">
            <label for="" class="mb-1 my-3">Quantity</label>
            <input type="number" class="form-control">
        </div>

        <!-- Submit item button -->
        <button class="btn btn-rounded btn-primary m-2" type="submit">Add Item</button>

    </form>

    <!-- Billing items before generating a reciept -->
    <div class="col-md-6 mx-auto my-5" *ngIf="billingready">

        <div class="text-center">
            <h2>Billing Recient</h2>
            <hr>
            <p>Items added will appear here.</p>
        </div>

    </div>

</div>