<div class="container">

    <!-- What to display buttons -->
    <div class="text-center pt-3">
        <button class="btn btn-primary btn-rounded m-2" type="button" (click)="addstock()">Add Stock</button>
        <button class="btn btn-primary btn-rounded m-2" type="button" (click)="seestock()">See Stock</button>
    </div>
    
    <!-- Addition form -->
    <div class="form" *ngIf="addingstock">

        <!-- Introduction -->
        <div class="text-center pt-5">
            <h2>Registering New Stock</h2>
            <hr>
            <p>The form below is for adding new stock to the system</p>
        
        </div>

        <form action="" [formGroup]="stockadditionform" (ngSubmit)="additem()">

            <!-- Product's name -->
            <div class="form-group">
                <label for="" class="mb-1 my-2">Product Name</label>
                <input type="text" class="form-control" name="name" formControlName="name"
                    [class.is-invalid]="name?.invalid && name?.dirty">

                <!-- Error message -->
                <small class="text-danger" *ngIf="name?.invalid && name?.dirty">Required</small>

            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="" class="mb-1 my-3">Product Description</label>
                <input type="text" class="form-control" name="description" formControlName="description">
            </div>

            <!-- Quantity -->
            <div class="form-group">
                <label for="" class="mb-1 my-3">Quanity</label>
                <input type="number" class="form-control" name="quantity" formControlName="quantity"
                    [class.is-invalid]="quantity?.invalid && quantity?.dirty">

                <!-- Error message -->
                <small class="text-danger" *ngIf="quantity?.invalid && quantity?.dirty">Required</small>


            </div>

            <!-- Buying Price -->
            <div class="form-group">
                <label for="" class="mb-1 my-3">Buying Price/Item</label>
                <input type="number" class="form-control" name="buyingprice" formControlName="buyingprice"
                    [class.is-invalid]="buyingprice?.invalid && buyingprice?.dirty">

                <!-- Error message -->
                <small class="text-danger" *ngIf="buyingprice?.invalid && buyingprice?.dirty">Required</small>


            </div>

            <!-- Selling price -->
            <div class="form-group">
                <label for="" class="mb-1 my-3">Selling Price/Item</label>
                <input type="number" class="form-control" name="sellingprice" formControlName="sellingprice"
                    [class.is-invalid]="sellingprice?.invalid && sellingprice?.dirty">

                <!-- Error message -->
                <small class="text-danger" *ngIf="sellingprice?.invalid && sellingprice?.dirty">Required</small>


            </div>

            <!-- Addition button -->
            <button class="btn btn-primary btn-rounded m-3" type="submit" [disabled]="stockadditionform.invalid">Add
                Item</button>

        </form>


    </div>

    <!-- Avaible stock display -->
    <div class="col-md-8 mx-auto pt-3" *ngIf="seeingstock">
    
        <div class="text-center">
            <h2>Available stock</h2>
            <hr>
        </div>

        <!-- Existing stock -->
        <div class="allstocks" *ngFor="let stock of allstocks">
            <ul>
                <li><span class="text-primary">Name: </span>{{stock.productname}}</li>
                <li><span class="text-primary">Quantity: </span>{{stock.quantity}}</li>
                <li><span class="text-primary">Description: </span>{{stock.description}}</li>
                <li><span class="text-primary">Buying price: </span>{{stock.buyingprice}}</li>
                <li><span class="text-primary">Selling price: </span>{{stock.sellingprice}}</li>

            </ul>

        </div>
    
    </div>
    
    <hr>
    
    <!-- Go back to menu button -->
    <button class="btn btn-secondary btn-rounded m-3" type="button" (click)="goback()">Go Back</button>


</div>