<div class="container">

    <!-- Introduction -->
    <div class="text-center pt-5">
        <h1>Registering New Stock Addition</h1>
        <hr>
        <p>The form below is for adding new stock to the system</p>

    </div>

    <!-- Addition form -->
    <div class="form">

        <form action="">

            <!-- Product's name -->
            <div class="form-group">
                <label for="" class="mb-2 my-2">Product Name</label>
                <input type="text" class="form-control">
            </div>

            <!-- Quantity -->
            <div class="form-group">
                <label for="" class="mb-2 my-2">Quanity</label>
                <input type="number" class="form-control">
            </div>

            <!-- Buying Price -->
            <div class="form-group">
                <label for="" class="mb-2 my-2">Buying Price/Item</label>
                <input type="number" class="form-control">
            </div>

            <!-- Selling price -->
            <div class="form-group">
                <label for="" class="mb-2 my-2">Selling Price/Item</label>
                <input type="number" class="form-control">
            </div>

            <!-- Addition button -->
            <button class="btn btn-primary btn-rounded m-2" type="button">Add</button>

        </form>

    </div>


</div>