<div class="container pt-5">

    <div class="text-center">
        <h1>CYBER SERVICES</h1>
        <hr>
        <p>Use the form below to register cyber services</p>
    </div>


    <!-- Registering cyber service -->
    <form action="" [formGroup]="cyberform" (ngSubmit)="registercyberservice()">

        <!-- Client's Name -->
        <div class="form-group">
            <label for="" class="my-1 mb-1">Client's Name</label>
            <input type="text" class="form-control" name="clientsname" formControlName="clientsname"
                [class.is-invalid]="clientsname?.invalid && clientsname?.dirty">
        
            <!-- Error Messages -->
            <div class="text-danger" *ngIf="clientsname?.invalid && clientsname?.dirty">
                <small *ngIf="clientsname?.errors?.['required']">Required</small>
                <small *ngIf="clientsname?.errors?.['minlength']">At least 3 characters</small>
            </div>
        </div>

        <!-- Product | Service Name -->
        <div class="form-group">
            <label for="" class="my-3 mb-1">Service | Item Name</label>
            <input type="text" class="form-control" name="servicename" formControlName="servicename"
            [class.is-invalid]="name?.invalid && name?.dirty"
            >

            <!-- Error message -->
            <small class="text-danger" *ngIf="name?.invalid && name?.dirty">Required</small>
        </div>

        <!-- Quantity -->
        <div class="form-group">
            <label for="" class="my-3 mb-1">Quantity</label>
            <input type="number" class="form-control" name="quantity" formControlName="quantity">
        </div>

        <!-- Total cost -->
        <div class="form-group">
            <label for="" class="my-3 mb-1">Total Cost</label>
            <input type="number" class="form-control" name="totalcost" formControlName="totalcost"
            [class.is-invalid]="totalcost?.invalid && totalcost?.dirty"
            >

            <!-- Error message -->
            <small class="text-danger" *ngIf="totalcost?.invalid && totalcost?.dirty">Required</small>
        </div>

        <!-- Mode of payment -->
        <!-- Mpesa -->
        <div class="form-group mb-1 mt-3">
            <label for="" class="my-3 mb-2">Mode of Payment</label> <br>
            <input type="checkbox" class="form-check-input" name="mpesa" formControlName="mpesa">
            <label for="" class="form-check-label">M-Pesa | Till Number</label>
        </div>
        
        <!-- Cash -->
        <div class="form-group mb-1 mt-3">
            <input type="checkbox" class="form-check-input" name="cash" formControlName="cash">
            <label for="" class="form-check-label">Cash</label>
        </div>
        
        <!-- Cheque -->
        <div class="form-group mb-1 mt-3">
            <input type="checkbox" class="form-check-input" name="cheque" formControlName="cheque">
            <label for="" class="form-check-label">Cheque</label>
        </div>
        
        <!-- Transaction code -->
        <div class="form-group">
            <label for="" class="mb-1 my-3">Transaction Code</label>
            <input type="text" class="form-control" name="transactioncode" formControlName="transactioncode"
                [class.is-invalid]="code?.invalid && code?.dirty">
        
            <!-- Error message -->
            <small class="text-danger" *ngIf="code?.invalid">Required for M-pesa | Cheque transactions</small>
        </div>

        <!-- Submit for billing -->
        <button class="btn btn-primary btn-rounded m-2" type="submit" [disabled]="cyberform.invalid">Add Bill</button>

    </form>

    <hr>

    <!-- Go back button -->
    <button class="btn btn-secondary btn-rounded m-3" type="button" (click)="goback()">Go Back</button>

</div>