<div class="container pt-5">

    <div class="text-center">
        <h1>CYBER SERVICES</h1>
        <hr>
        <p>Use the form below to register cyber services</p>
    </div>

    <!-- Client's Form -->
    <form action="">

        <!-- Name -->
        <div class="form-group">
            <label for="" class="my-1 mb-1">Client's  Name</label>
            <input type="text" class="form-control">
        </div>

        <!-- Submit button  -->
        <button class="btn btn-rounded btn-primary m-2" type="button">Start Billing</button>

    </form>

</div>