<div class="container pt-3 text-center">
    <!-- Navigations buttons -->
    <p>
        Use the following buttons to access their respective pages
    </p>

    <div class="buttons">

        <button class="btn btn-primary m-2 btn-rounded" type="button" (click)="registersales()">Register Sales</button>
        <button class="btn btn-primary m-2 btn-rounded" type="button" (click)="cyberservices()">Cyber Services</button>
        <button class="btn btn-primary m-2 btn-rounded" type="button" (click)="addstock()">Add Stock</button>
        <button class="btn btn-primary m-2 btn-rounded" type="button" (click)="registerexpenses()">Register Expenses</button>
        <button class="btn btn-primary m-2 btn-rounded" type="button" (click)="seereports()">See Reports</button>
        <button class="btn btn-primary m-2 btn-rounded" type="button" (click)="staffs()">Staffs</button>
    </div>

</div>